body{
    background-color: rgb(245, 245, 245);
}

.container{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: max-content;
    margin:auto;
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.img-logo{
    width: 50%;
    height:auto;
    padding-top: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    color: rgb(105, 248, 120);
}

.form-control{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border:none;
    border-bottom: solid 1px;
    transition: 300ms;
}

.form-control:hover{
    box-shadow: 0px 0px 5px rgb(139, 214, 252);
    transform:scale(1.5);
    
}

.form-button{
    width: 210px;
    height: 50px;
    font-size: 14pt;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 128, 157);
    border:none;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 172, 247);
    text-decoration: none;
}
